<footer>
  <div class="flex center">
  	<div class="row center">
      <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
  		<i class="fa fa-github fa-lg" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
  	</div>
  	
    	<p>{{ site.title }}</p>
  </div>
  <div class="flex center">
      <p>© 2016 Powered by useful.ly - Built By Tim Moreton</p>
      <!-- <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></p> -->
  </div>
</footer>