<header>
  <div class="flex flex-12 nav center left">
    <div id="open-close-nav" class="hamburger hamburger--squeeze">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>

    <div class="menu flex center">
<!--       <a href="/" class="main">Articles</a>
      <a href="/" class="main">Portfolio</a>
      <a href="/" class="main">Photos</a> -->
      <a href="/resume" class="main">Resume</a>
      <a href="/contact" class="main">Contact</a>
      <a href="/about" class="main">About</a>
    </div>
  </div> 
</header>
