<header>
  <div class="flex flex-12 nav center left">
    <div class="hidden-desktop left">
      <div id="open-close-nav" class="hamburger hamburger--squeeze">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>

    <div class="flex flex-2 flex-mobile-4 center">
      <a href="/">
        <p>Logo</p>
      </a>
    </div>

    <div class="menu flex flex-10 center">
      <a href="#" class="main">Link</a>
      <a href="#" class="main">Link</a>
      <a href="#" class="main">Link</a>
      <a href="#" class="main">Link</a>
    </div>
  </div> 
</header>
