<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

  	<div class="hero">
      <img class="fullscreen" src="/images/main.jpg">
		  <div class="flex hero-content center">
        <div>
          <img src="/images/mee.jpg" style="margin: 0 auto; border: 3px solid #fff; width: 200px; border-radius: 50%;">
          <h3>Tim Moreton</h3>
          <p>Traveler, Software Engineer, Graphic Designer</p>
        </div>
		  </div>
      <i class="fa fa-angle-double-down fa-3x" aria-hidden="true" style="position: absolute; bottom: 25px;; text-align: center; width: 100%;"></i>
		</div>  

    <section>
      <h2>Trips</h2>
      <div class="flex">
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/miami.html' class="shadow">
            <img src="images/miami/1.jpg">
            <div class="card-text">
              <p><strong>Miami</strong></p>
              <p>November 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/hong-kong.html' class="shadow">
            <img src="images/hong_kong/1.jpg">
            <div class="card-text">
              <p><strong>Hong Kong</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/bangkok.html' class="shadow">
            <img src="images/bangkok/1.jpg">
            <div class="card-text">
              <p><strong>Bangkok</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/germany.html' class="shadow">
            <img src="images/germany/1.jpg">
            <div class="card-text">
              <p><strong>Germany</strong></p>
              <p>November 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/amsterdam.html' class="shadow">
            <img src="images/amsterdam/1.jpg">
            <div class="card-text">
              <p><strong>Amsterdam</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/barcelona.html' class="shadow">
            <img src="images/barcelona/1.jpg">
            <div class="card-text">
              <p><strong>Barcelona</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/london.html' class="shadow">
            <img src="images/london/1.jpg">
            <div class="card-text">
              <p><strong>London</strong></p>
              <p>November 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/rome.html' class="shadow">
            <img src="images/rome/1.jpg">
            <div class="card-text">
              <p><strong>Rome</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='/trips/paris.html' class="shadow">
            <img src="images/paris/1.jpg">
            <div class="card-text">
              <p><strong>Paris</strong></p>
              <p>May 2016</p>
            </div>
          </a> 
        </div>
      </div>
    </section>

    <section style="height: 50vh; background-color: rgba(23, 23, 23, 0.5);">
      <div class="flex center" style="height: 50vh; color: #fff;">
        <div class="lines">
          <h3>"Life begins and the end of your comfort zone."</p>
          <p style="text-align: right; ">- Neale Donald Walsh</p>
        </div>
      </div>
    </section>

    <section>
      <h2>Projects</h2>
      <div class="flex">
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/aloha.png">
            <div class="card-text">
              <p><strong>Aloha</strong></p>
              <p>Lead Frontend Engineer</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/meetingtoday.png">
            <div class="card-text">
              <p><strong>MeetingToday.co</strong></p>
              <p>Founder</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/cgs.png">
            <div class="card-text">
              <p><strong>ContemporaryGS.com</strong></p>
              <p>Web Development Manager</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/usefully.png">
            <div class="card-text">
              <p><strong>Useful.ly</strong></p>
              <p>Open Source CSS Flexbox Framework</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/tm.png">
            <div class="card-text">
              <p><strong>TMoreton.com</strong></p>
              <p>Personal Site</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/twc.png">
            <div class="card-text">
              <p><strong>TimothyWColeman.com</strong></p>
              <p>Freelance Wordpress Site</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/syncup.png">
            <div class="card-text">
              <p><strong>Syncup.nyc</strong></p>
              <p>Founder</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/fc.png">
            <div class="card-text">
              <p><strong>ForeverCollectibles.com</strong></p>
              <p>Product Development</p>
            </div>
          </a> 
        </div>
        <div class="flex-4 flex-mobile-12 card zoom">
          <a href='' class="shadow">
            <img src="images/projects/jnj.png">
            <div class="card-text">
              <p><strong>JNJ.com</strong></p>
              <p>Graphic Designer</p>
            </div>
          </a> 
        </div>
      </div>
    </section>

    <section style="height: 50vh; background-color: rgba(23, 23, 23, 0.5);">
      <div class="flex center" style="height: 50vh; color: #fff;">
        <div class="lines">
          <h3>"Insert new inspir ational quote here..."</p>
          <p style="text-align: right; ">- Me</p>
        </div>
      </div>
    </section>

    <section>
      <div style="max-width: 960px; margin: auto; display: block;">
        <h3 style="text-align: center;">Contact</h3>
        <iframe style="width: 100%; height: 450px; border: none;"src="http://www.useful.ly/contact?email=tmoreton89@gmail.com"></iframe>
      </div>

    </section>
    {% include footer.html %}

  </body>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ "/assets/script.js" | prepend: site.baseurl }}"></script>
</html>