---
layout: default
---

<div class="hero">
  <div class="flex hero-content center" style="background-image: url({{page.main-image}});">
    <div class="lines">
      <h3>{{page.title}}</p>
      <p style="text-align: right; ">- Someone</p>
    </div>
  </div>
  <i class="fa fa-angle-double-down fa-3x" aria-hidden="true" style="position: absolute; bottom: 25px;; text-align: center; width: 100%;"></i>
</div>  

<article itemscope itemtype="http://schema.org/BlogPosting">

    {{ content }}
    {{ page.date | date: "%b %-d, %Y" }}

</article>